@font-face {
    font-family: 'Aeonik-Bold';
    src: url('/fonts/Aeonik-Bold.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'Aeonik-BoldItalic';
    src: url('/fonts/Aeonik-BoldItalic.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'Aeonik-Regular';
    src: url('/fonts/Aeonik-Regular.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'Aeonik-Thin';
    src: url('/fonts/Aeonik-Thin.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'Voyager-Thin';
    src: url('/fonts/Voyager-Thin.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'Graebenbach-Mono-Regular';
    src: url('/fonts/Graebenbach-Mono-Regular.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

